*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #23242a;
}
.box{
    position: relative;
    background-color: rgb(84, 196, 196);
    width: 380px;
    overflow: hidden;
    height: 360px;
}
.box::after{
    content: '';
    position: absolute;
    width: 380px;
    height: 360px;  
    transform-origin: bottom right;
    top: -50%;
    left: -50%;
    background: rgb(201, 42, 148);
    animation: animate 10s linear infinite;
    animation-delay: -5s;
}
.box::before{
    content: '';
    position: absolute;
    width: 380px;
    height: 360px;
    transform-origin: bottom right;
    top: -50%;
    left: -50%;
    background: rgb(201, 42, 148);
    animation: animate 10s linear infinite;
}
@keyframes animate 
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
form{
    position: absolute;
    inset:  4px;
    background-color: #222;
    padding: 20px 30px;
    z-index: 3;
    display: inline-block;
    }
.box form h2{
    margin-top: 5px;
    color: white;
    text-align: center;
    letter-spacing: 5px;
}
.inputbox{
    position: relative;
    width: 300px;
    margin-top: 30px;
}
.inputbox input{
    position: relative;
    background: transparent;
    padding: 5px 5px 5px 5px;
    width: 100%;
    border: none;
    z-index: 10;
    outline: none;
    transition: 1s;
    font-size: 30px;
    color: white;
}
.inputbox span{
    position: absolute;
    top: 0;
    margin-top: 20px;
    pointer-events: none;
    padding-left: 3px;
    color: gray;
    letter-spacing: 1px;
    transition: 1s;
}
.inputbox input:valid~span,
.inputbox input:focus~span
{
    font-size: 12px;
    color: white;
    margin-top: -15px;
}
.line{
    position: absolute;
    height: 1px;
    background: rgb(201, 42, 148);
    width: 315px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    pointer-events: none;
    transition: 1s;
}
.inputbox input:valid~i,
.inputbox input:focus~i
{
    height: 40px;
}
.link{
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;

}
.link a{
    text-decoration: none;
    color: gray;
    outline: none;
}
.link a:hover{
    color: white;
    transition: 0.5s;
}
.btn{
    width: 80px;
    margin-top: 20px;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    border-radius: 10px;
    border: none;
    padding: 5px;
}
.btn:active{
    opacity: 0.8;
    background: rgb(201, 42, 148);
}   